$navigation-height: 56px;

$primary-color: #ec6e25 !default;
$primary-darker: #c44a34 !default;
$primary-light: #ee9130 !default;

$secondary-color: #4257b3 !default;
$secondary-darker: #2b3775 !default;

$danger-color: red !default;
$success-color: #00d100 !default;

$grey: #dcdcdc !default;

$border-radius: 20px;
$card-border-radius: 7px;

$limpieza-primary: #FF743E;
$limpieza-secondary: #FC5E2D;
$limpieza-tertiary: #FC5E2D;

$mant-electrico-primary: #2048F2;
$mant-electrico-secondary: #4D6DF5;
$mant-electrico-tertiary: #1836B5;

$seguridad-primary: #E03B3B;
$seguridad-secondary: #EA4949;
$seguridad-tertiary: #D13333;

$supervisor-primary: #FFFFFF;
$supervisor-secondary: #E8E8E8;
$supervisor-tertiary: #CCCCCC;

$colaborador-primary: #E5D013;
$colaborador-secondary: #EAD942;
$colaborador-tertiary: #AC9C0E;

$mant-mecanico-primary: #56AF56;
$mant-mecanico-secondary: #63C963;
$mant-mecanico-tertiary: #3D9C3D;

$navbar-z-index: 10;

$header-height: 250px;

$badge-counter-height: 25px;
$badge-counter-width: 25px;
$badge-counter-padding: 4px;

$time-date: #acacac;


